@import url('https://fonts.googleapis.com/css2?family=Pavanam&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {  
    font-family: 'Pavanam', sans-serif;
    font-family: 'Poppins', sans-serif;
     background-color: azure;
}

.container {
     width: 100%;
     max-width: 1240px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 20px;
     padding-right: 20px;
}

.site-list {
      margin-top: 25px;
     display: flex;
     justify-content: center;
}

.site-list1 {
     display: flex;
     justify-content: center;
     margin-top: 40px;
}

.site-list-items {
    margin-left: 40px;
    list-style-type: none;
    width: 300px;
    height: 330px;
   background-color: #fff;

}

.site-items-text {
     margin-top: 10px;
     font-weight: 600;
     margin-left: 10px;
}

.site-items-heading {
     width: 100px;
     margin-left: 10px;
     margin-top: 10px;
     font-weight: 400;
     font-size: 30px;
}

.site-items-time-flex {
    display: flex;
    justify-content: space-between;
}

.time-flex {
    margin-left: 15px;
    font-size: 15px;
}

.time-flex1 {
     margin-right: 40px;
     font-size: 15px;
}

.site-items-cost__flex {
     display: flex;
     justify-content: space-between;
}

.cost__flex {
     font-size: 19px;
    font-weight: 600;
     margin-left: 15px;
}

.cost__flex1 {
     font-size: 19px;
    font-weight: 600;
     margin-right: 85px;
}

.line {
     margin-left: 15px;
     margin-top: 20px;
     width: 250px;
     color: gray;
}

.list-items-course__cost {
     margin-left: 15px;
     margin-top: 12px;
}

.list-items-last__cost {
     margin-left: 15px;
     font-size: 30px;
     font-weight: 600;
}